.backdrop {
  background-color: rgb(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.cart-frame {
  position: fixed;
  top: 180px;
  left: 28%;
  width: 670px;
  height: auto;
  z-index: 12;
  padding-left: 1rem;
  padding-right: 1rem;
}

.itemDetails{
  overflow-y:scroll;
  list-style: none;
  margin: 10px;
  padding: 0;
  max-height: 12rem;
}


.content {
  display: flex;
  justify-content: space-between;
}

.content-body {
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  margin: 1rem 1rem;
  justify-content: space-between;
}

.btnClose {
  border-radius: 16px;
  padding: 0.5rem 1.8rem;
  background-color: white;
  border: 1px rgb(111, 0, 0) solid;
  color: rgb(111, 0, 0);
  margin-left: 420px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.btnClose:hover,
.btnClose:active,
.btnOrder:hover,
.btnOrder:active {
  background-color: #431400;
}

.btnOrder {
  border-radius: 16px;
  padding: 0.5rem 1.8rem;
  background-color: rgb(111, 0, 0);
  border: 1px rgb(111, 0, 0) solid;
  color: white;
  margin-left: 10px;
  margin-bottom: 2rem;
}
